@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import "@skeletonlabs/skeleton";
/* @import "@skeletonlabs/skeleton/optional/presets"; */

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--font-body: "IBM Plex Mono", sans-serif;
	--font-mono: monospace;
	font-family: var(--font-body);
}
